:root {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;

  background-color: lightgray;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#app {
  position: relative;
}

#canvas {
  background-color: white;

}

#help {
  display: flex;
  gap: 1em;
}

#help .help-item {
}

#help .key {
  display: inline-block;
  background-color: white;
  padding: 0 0.25em;
  border-radius: 0.25em;
  border: solid 1px darkgray;
}